apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-app
  namespace: apps  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website-app
  template:
    metadata:
      labels:
        app: website-app
    spec:
      imagePullSecrets:
        - name: harbor-credentials
      containers:
        - name: website-app
          image: "{{ registry_url }}/{{ push_target_frontend }/website-blog:{{ version_frontend }}" # custom registry
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "128Mi"
              cpu: "128m"
            limits:
              memory: "256Mi"
              cpu: "256m"