---
- name: ERPNext Deployment Strategy Dispatcher
  hosts: localhost
  gather_facts: false

  tasks:   
    - name: Validate deployment strategy
      ansible.builtin.assert:
        that: 
          - deployment_strategy in ['bluegreen','canary','ramped','recreate','rolling','shadow','scaledown']
        fail_msg: "ERROR ! Deployment strategy wrong: {{ deployment_strategy }}"
        success_msg: "SUCCESS - Detected deployment strategy: {{ deployment_strategy }}"


- name: Get kubeconfig and save to local node
  hosts: "{{ TARGET_NODE }}"
  gather_facts: false

  tasks:
    # PREREQS --------------------------------------------
    - name: Check if kubeconfig exists
      ansible.builtin.stat:
        path: "{{ kubeconfig_path }}"
      register: kubeconfig_check

    - name: Stop execution when kubeconfig doesn't exist
      ansible.builtin.fail:
        msg: "Kubeconfig not found at {{ kubeconfig_path }}"
      when: not kubeconfig_check.stat.exists

    - name: Save kubeconfig to repo 
      ansible.builtin.fetch:
        src: "{{ kubeconfig_path }}"
        dest: "{{ playbook_dir }}/kubeconfig.yaml"
        flat: true

    # - name: Check if cacert exists
    #   ansible.builtin.stat:
    #     path: "{{ cacert_path }}"
    #   register: cacert_check

    # - name: Stop execution when cacert doesn't exist
    #   ansible.builtin.fail:
    #     msg: "Cacert not found at {{ cacert_path }}"
    #   when: not cacert_check.stat.exists

    # - name: Set cacert
    #   ansible.builtin.set_fact:
    #     cacert: "{{ cacert_path }}"

- name: Check kubeconfig variable and ip
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Check kubeconfig exists after fetch
      ansible.builtin.stat:
        path: "{{ playbook_dir }}/kubeconfig.yaml"
      register: kubeconfig_stat
      
    - name: Set kubeconfig path to local
      ansible.builtin.set_fact:
        kubeconfig: "{{ playbook_dir }}/kubeconfig.yaml"

    - name: Set kubeconfig path for localhost usage # DIRTY !!! FIXMEBRO
      ansible.builtin.set_fact:
        kubeconfig_local: "{{ playbook_dir }}/kubeconfig.yaml"

    - name: Set kubeconfig permissions
      ansible.builtin.file:
        path: "{{ playbook_dir }}/kubeconfig.yaml"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: "0600"
      when: kubeconfig_stat.stat.exists

    - name: Update kubeconfig server to 127.0.0.1
      ansible.builtin.replace:
        path: "{{ playbook_dir }}/kubeconfig.yaml"
        regexp: 'server: https://[^:]+:[0-9]+'
        replace: 'server: https://{{ hostvars["local"]["ansible_host"] }}:6443'


- name: Execute deployment strategy
  hosts: localhost
  gather_facts: false

  tasks:
    # DEPLOYMENT STRATEGIES ------------------------------
    - name: Execute rolling update strategy
      include_tasks: roles/deployment_strategies/tasks/rolling.yaml
      when: deployment_strategy == "rolling"

    - name: Execute recreate strategy
      include_tasks: roles/deployment_strategies/tasks/recreate.yaml
      when: deployment_strategy == "recreate"

    - name: Execute ramped strategy
      include_tasks: roles/deployment_strategies/tasks/ramped.yaml
      when: deployment_strategy == "ramped"

    - name: Execute blue-green strategy
      include_tasks: roles/deployment_strategies/tasks/bluegreen-test.yaml
      when: deployment_strategy == "bluegreen"

    - name: Execute canary strategy
      include_tasks: roles/deployment_strategies/tasks/canary.yaml
      when: deployment_strategy == "canary"

    - name: Execute shadow strategy
      include_tasks: roles/deployment_strategies/tasks/shadow.yaml
      when: deployment_strategy == "shadow"
    
    - name: Scale replicas to 0 for bluegreen
      include_tasks: roles/deployment_strategies/tasks/scaledown.yaml
      when: deployment_strategy == "scaledown"

    - name: Post-deployment validation
      include_tasks: roles/deployment_strategies/tasks/post-deployment.yaml