- name: List all instlled tenants
  ansible.builtin.uri:
    url: "https://{{ item.host }}/"
    method: GET
    status_code: [200, 301, 302] # Allowed codes
    validate_certs: true
    timeout: 10
  loop: "{{ helm_values.ingress.hosts }}"
  register: tenant_pings
  ignore_errors: true # allows the playbook to continue even if one tenant is down
  when: helm_release is succeeded

- name: Report tenant status
  ansible.builtin.debug:
    msg: >-
      Tenant {{ item.item.host }} is 
      {{ 'AVAILABLE' if item.status == 200 else 'UNAVAILABLE (Status: ' ~ (item.status | default('Error')) ~ ')' }}
  loop: "{{ tenant_pings.results }}"
  loop_control:
    label: "{{ item.item.host }}"  
  when: 
    - helm_release is succeeded
    - item.item is defined         