---
- name: Recreate Strategy
  block:
    - name: Display strategy info
      debug:
        msg: |
          Deploying with RECREATE strategy
          !!! WARNING: This will cause full downtime !!!
          - Stops all pods immediately
          - Starts new pods
          - Fastest deployment/rollback
          - Image tag: {{ new_erpnext_image_tag }}

    - name: Confirm recreate deployment
      pause:
        prompt: |
          !!! RECREATE STRATEGY WILL CAUSE DOWNTIME !!!
          This deployment will:
          1. Stop ALL running ERPNext pods
          2. Start new pods with new version
          3. Cause application unavailability
          
          Press enter to continue or Ctrl+C to abort
      when: not force_recreate | default(false) | bool

    - name: Update Helm values for recreate strategy
      set_fact:
        helm_values:
          deploymentStrategy:
            type: recreate
            parameters: {}

    - name: Deploy/upgrade ERPNext with recreate strategy
      kubernetes.core.helm:
        name: "{{ helm_release_name }}"
        chart_ref: "{{ helm_chart_path }}"
        release_namespace: "{{ kubernetes_namespace }}"
        values: "{{ helm_values }}"
        set_values:
          - value: "image.tag={{ new_erpnext_image_tag }}"
            value_type: string
        state: present
        wait: true
        wait_condition:
          type: "Available"
          status: "True"
        wait_timeout: 600
        atomic: true
      register: helm_release

    - name: Record downtime duration
      debug:
        msg: "Downtime occurred during recreate deployment. Check logs for duration."

  rescue:
    - name: Rollback on failure
      kubernetes.core.helm:
        name: "{{ helm_release_name }}"
        release_namespace: "{{ kubernetes_namespace }}"
        state: present
        atomic_rollback: true
      ignore_errors: true